header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

body {
    margin: 0;
    font-family: "Helvetica", Sans-Serif;
    background-color: #f4b991;
}

a {
  color: #e56515; 
  margin-right: 50px;
}

h1 {
    margin-left: 30px;
}

.header-titles {
    text-align: center;
    margin-top: 40px; 
    margin-bottom: 20px;
}

.main-title {
    margin-bottom: 5px; 
}


.shop-description {
    font-size: 15px;  
    font-weight: normal;
    color: #322f2f; 
    margin-top: 0;    
}

.products-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 30px 45px;
}

.product {
    width: 190px;
    margin: 0 auto;
}

.product:last-child {
  margin-right: 0;
}

.new-arrivals {
    text-align: center;
}

button {
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .8);
}

.open,
.close {
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .8);
}

.modal {
    max-width: 800px;
    max-height: 80vh;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 800;
    background-color: #ea9460;
}

.modal[open]::backdrop {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
}

.modal-text {
    font-weight: normal;
    font-size: 15px; 
    line-height: 1.4;
    color: #333;
}

.cart-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e56515;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cart-header {
    margin-left: 50px;
}

.shop-button {
    display: inline-block;
    margin-left: 50px;
    padding: 10px 10px;
    background-color: #fbfbfa;
    color: #e56515;
    text-decoration: none;
    border-radius: 5px;
}

.shop-button-about {
    display: inline-block;
    padding: 10px 10px;
    background-color: #454341;
    color: #ddd7d4;
    text-decoration: none;
    border-radius: 5px;
}

.cart {
    margin-left: 50px;
}

.product-in-cart {
    display: flex;
    gap: 30px;
    align-items: center;
}

.column {
    flex: 1;  
}

form {
    background: rgb(131, 115, 115);
    width: calc(100% - 40px);
    max-width: 500px; 
    margin: 0 auto;      
    padding: 30px;
    border-radius: 20px; 
    color: #212020;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;   
    text-align: center;   
}

form input {
    margin-top: 5px;      
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    text-align: center; 
}

.modal-form {
    background-color: #ea9460;
    padding: 30px;
    border: none;
    border-radius: 12px; 
}
.modal-form[open]::backdrop {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
}

.modal-form-text {
    font-weight: normal;
    font-size: 15px; 
    line-height: 1.4;
    color: #333;
}

.modal-success {
    max-width: 800px;
    max-height: 80vh;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 800;
    background-color: #ea9460;
}

.checkout {
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    font-size: 16px;
    background-color: #decfc2;
    color: #1e1d1d;
    text-decoration: none;
    border-radius: 5px;
}

.about {
  padding-left: 45px;
  padding-right: 25px;
  font-size: 20px;
}


.our-team h2 {
  text-align: center;
  margin-bottom: 30px;
}

.team-grid {
  display: flex;
  justify-content: center;
  gap: 30px; 
}

.team-member {
  width: 190px;
  text-align: center;  
}

@media (max-width: 900px) {
    .products-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {

    header {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    h1 {
        margin-left: 0;
    }

    .header-titles {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    header a {
        margin-right: 0;
    }

    .products-section {
        padding: 20px;
    }

    .product {
        display: block;
        width: 190px;
        margin: 0 auto 30px auto;
    }

    .about {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px;
    }

    .team-grid {
        flex-direction: column;
        align-items: center;
    }


    .cart {
        margin-left: 20px;
        margin-right: 20px;
    }

    .product-in-cart {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }

}

